<!-- <h2>User Stories: An Agile Introduction</h2>
<h2>Writing user stories</h2>
<h2>Feature tests</h2> -->

<ul>
  <% @bookmarks.each do | bookmark | %>
    <li> <%= bookmark %></li>
  <% end %>
</ul>

<form action="/bookmarks" method="post">
  <input type="text" name="new_bookmark">
  <button value="submit">Submit</button>
</form>