<h2><%= @error %></h2>

<ul>
  <% @bookmarks.each do | bookmark | %>
    <li> <a href="#"><%= bookmark['title'] %></a></li>
  <% end %>
</ul>

<form action="/bookmarks" method="post">
  <label for="url">Bookmark:</label>
  <input id="url" type="text" name="url" placeholder="http://example.com">
  <label for="title">Title:</label>
  <input id="title" type="text" name="title" placeholder="Example site">
  <button value="submit">Submit</button>
</form>
